*{
    box-sizing: border-box;
}

   /* shared style */
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Roboto+Slab&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* Navbar Style starts */

.navbar-container{
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: #FFFFFF;
  
}

.logo-container{
    width: 50%;
    display: flex;
    object-fit: cover;
    align-items: center;
    gap: 15px;
}
.text{
    color: #FF42A5;
}
.logo-container img{
    width: 85px ;
    height: 40px;
}

.logo-container h3{
    color: #0B0223;
    font-size: 2.8rem;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;

}
.menu-container{
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
 
 
 

}
.nav-links{
    display: flex;
    gap: 15px;
   
}

.menu-container  li{
    list-style: none;
    margin-left: 20px;
  
    
}

.menu-container ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: Work Sans;
    font-weight: 500;
   
}
.follow-us{
     width: 200px;
     height: 55px;
    align-items: center;
    background: rgba(11, 2, 35, 0.10);
     border-radius: 8px;
    display: flex;
    gap: 10px;
    
  
  
}

.follow-us h3{
    margin: 0 auto;
}
.fa-brands{
     font-size: 22px;
     
}

/* banner section start */

.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    object-fit: cover;
  
  
}

.banner-text{
    width: 900px;
    height: 700px;
    background-image: url("./images/Group\ 14.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    text-align: center;
}

.banner-text h1{
    color: #0B0223;
font-size: 48px;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Work Sans', sans-serif;
font-weight: 600;
text-transform: uppercase;
}
.goat{
    background-image: linear-gradient(#F948B2, #8758F1);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 75px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
} 

.banner-text p{
    padding:0;
    color: #534C64;
    font-size: 20px;
    font-family: Work Sans;
    font-weight: 500;
    text-transform: lowercase;
}

.btn-primary{
    background-color: #FF42A5;
    color: white;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
}

.go-rogue{
  background-color: #4EC5F7;
  color: white;
  font-size: 20px;
  font-family: Work Sans;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
}


/* online game section start */

.online-games{
    max-width: 1440px;
    margin: 0 auto;
    min-height: 60px;
}
.online-games-title{
    color: #0B0223;
    font-size: 48px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    text-align: center;
 
}

.online{
    color: #F948B2;
    font-size: 48px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;

}

.online-games-description{
    color: #534C64;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    text-align: center;
}

.cards{
    max-width: 1440px;
    margin: 0 auto;
   
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.card-description{
    color: #534C64;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    text-align: center;

}